.custom-bg {
    background-color: #daac00;
}
.dog-img {
    mix-blend-mode: multiply;
}
.custom-ul {
    color: rgb(255 255 255) !important;
    font-size: 26px;
    font-weight: 400;
    margin-left: 5px;
}
.custom-ul li {
    margin-left: 5px;
}
.btn {
    border-radius: 0;
    border: none;
    background-color: #00dcc9 !important;
    color: #ffffff;
    position: relative;
    right: 48px;
    font-size: larger;
}
.search-box {
    border-radius: 0;
    border: none;
    box-shadow: rgba(97, 97, 129, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: #fcc302;
}
.search-box::placeholder {
    color: white;
    font-size: larger;
}